  
<h1><%=@t['name']%></h1>
<h2>Team Motto: <%=@t['motto']%></h2>

<h2>Hero Name: <%=@h1['name']%></h2>
<p>Hero Power: <%=@h1['power']%></p>
<p>Hero Biography: <%=@h1['bio']%></p>

<h2>Hero Name: <%=@h2['name']%></h2>
<p>Hero Power: <%=@h2['power']%></p>
<p>Hero Biography: <%=@h2['bio']%></p>

<h2>Hero Name: <%=@h3['name']%></h2>
<p>Hero Power: <%=@h3['power']%></p>
<p>Hero Biography: <%=@h3['bio']%></p>


